<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<canvas id="myChart" width="400" height="150"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019],
        datasets: [
            { label: 'Insatser', data: [427, 509, 753, 911, 763, 734, 825, 1059, 1003, 968, 1137, 1433, 1168, 1413, 1261, 1417, 1315, 1578, 1872, 1768, 1557, 1306] },
            { label: 'Per 1000 inv', data: [0.05, 0.06, 0.08, 0.10, 0.09, 0.08, 0.09, 0.12, 0.11, 0.11, 0.12, 0.15, 0.12, 0.15, 0.13, 0.15, 0.13, 0.16, 0.19, 0.17, 0.15, 0.13] }            
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
